---
import Title from "./Title.astro";
---

<section
  class="flex flex-col gap-10 px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] justify-center items-center py-20"
>
  <Title text1="WHY" text2="CHOOSE US" />
  <div class="flex flex-col sm:flex-row gap-10">
    <div class="flex flex-col items-center">
      <p class="text-6xl font-bold text-[#097850]">50+</p>
      <p class="text-gray-600 font-medium text-center">Companies Trust Us</p>
    </div>
    <div class="flex flex-col items-center">
      <p class="text-6xl font-bold text-[#097850]">10K+</p>
      <p class="text-gray-600 font-medium text-center">Active Job Seekers</p>
    </div>
    <div class="flex flex-col items-center">
      <p class="text-6xl font-bold text-[#097850]">95%</p>
      <p class="text-gray-600 font-medium text-center">Successful Placements</p>
    </div>
    <div class="flex flex-col items-center">
      <p class="text-6xl font-bold text-[#097850]">2hrs</p>
      <p class="text-gray-600 font-medium text-center">Average Response Time</p>
    </div>
  </div>
</section>
