---
interface Props {
  text1: string;
  text2: string;
}

const { text1, text2 } = Astro.props;
---

<div class="inline-flex items-center gap-2 mb-3 text-2xl">
  <p class="text-gray-500">
    {text1}
    <span class="text-[#ee6551] font-bold">{text2}</span>
  </p>
  <p class="w-8 sm:w-12 h-[1px] sm:h-[2px] bg-gray-700"></p>
</div>
