---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Choose from "../components/Choose.astro";
import Newsletter from "../components/Newsletter.astro";
import Process from "../components/Process.astro";
import Serve from "../components/Serve.astro";
import Ready from "../components/Ready.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hirenest</title>
  </head>
  <body>
    <Navbar />
    <Hero />
    <Process />
    <Serve />
    <Choose />
    <Ready />
    <slot />
    <Newsletter />
    <Footer />
  </body>
</html>
