<div>
  <div
    class="flex flex-col sm:grid grid-cols-[3fr_1fr_1fr] gap-14 py-20 text-sm bg-[#fff9f2] px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw]"
  >
    <div>
      <h1
        class="text-4xl text-kanit font-medium text-[#097850] mb-2 cursor-pointer"
      >
        HIRENEST
      </h1>
      <p class="w-full md:w-2/3 text-gray-600">
        We are a team of experienced professionals who are dedicated to
        providing the best possible service to our clients. We are a team of
        experienced professionals who are dedicated to providing the best
        possible service to our clients.
      </p>
    </div>
    <div>
      <p class="text-xl font-medium mb-2">COMPANY</p>
      <ul class="flex flex-col gap-1 text-gray-600">
        <li class="cursor-pointer">Home</li>
        <li class="cursor-pointer">About Us</li>
        <li class="cursor-pointer">Jobseekers</li>
        <li class="cursor-pointer">Employers</li>
        <li class="cursor-pointer">Terms & Conditions</li>
        <li class="cursor-pointer">Privacy Policy</li>
      </ul>
    </div>
    <div>
      <p class="text-xl font-medium mb-2">GET IN TOUCH</p>
      <ul class="flex flex-col gap-1 text-gray-600">
        <li class="cursor-pointer">+61 422 488 865</li>
        <li class="cursor-pointer">akash@hirenest.com.au</li>
        <br />
        <li class="cursor-pointer">
          19 Cambridge Street <br />Box Hill South, Melbourne, 3128 <br
          />Australia
        </li>
      </ul>
    </div>
  </div>
  <div class="bg-[#fff9f2] px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw]">
    <hr />
    <p class="py-5 text-sm text-center">
      Copyright © 2025 Hirenest - All rights reserved
    </p>
  </div>
</div>
