<!-- Hero Section -->
<section
  class="flex flex-col sm:flex-row px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-[#fff9f2]"
>
  <div class="w-full sm:w-[45%] flex items-center justify-center py-10 sm:py-0">
    <div class="text-[#414141]">
      <div class="flex items-center gap-2">
        <p class="w-8 md:w-11 h-[2px] bg-[#ee6551]"></p>
        <p class="font-bold text-sm md:text-base text-[#ee6551]">OUR VISION</p>
      </div>
      <h1
        class="text-3xl sm:py-3 lg:text-5xl font-bold leading-relaxed text-black"
      >
        WHERE JOBS FIND PEOPLE
      </h1>
      <p class="leading-relaxed sm:py-3 text-lg font-medium text-gray-500">
        Looking for the perfect hire or your dream job? At
        <span class="text-[#ee6551] font-bold">Hirenest</span>, we bridge the
        gap between recruiters and candidates, making hiring simple, fast, and
        effective.
      </p>
      <div class="flex gap-2 mt-6">
        <button
          class="bg-[#097850] text-white px-8 py-3 font-medium active:bg-[#097850]/80"
        >
          HIRE TALENT
        </button>
        <button
          class="bg-[#ee6551] text-white px-8 py-3 font-medium active:bg-[#ee6551]/80"
        >
          FIND A JOB
        </button>
      </div>
    </div>
  </div>
  <img class="w-full sm:w-[55%] py-0 sm:py-15" src="/images/hero_image.png" alt="" />
</section>
